# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\tomcat_maven_config_workspace\ideaworkspace\SSM20251226\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
